* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: Dancing Script;
}

p,
li,
h4 {
  font-family: Lato;
}

.banner-contenedor {
  position: relative;
  width: 100%;
}

.banner-contenedor h1,
h2 {
  font-size: 10vw;
  position: absolute;
  top: 10%;
  left: 50%;
  color: white;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  margin-top: -4px;
  background-color: rgb(5, 54, 23);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  font-family: Lato;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul > li a:hover {
  text-decoration: overline;
}

.width-content {
  max-width: 1200px;
  margin: 0 auto;
}

article {
  display: flex;
  align-items: center;
}

article img,
article video {
  width: 50%;
  height: auto;
}

article:nth-child(1),
article:nth-child(3) {
  flex-direction: row;
}

article:nth-child(2),
article:nth-child(4) {
  flex-direction: row-reverse;
  background-color: rgb(5, 54, 23);
  color: white;
}

article div {
  padding: 20px;
}

article h3 {
  margin: 0 0 10px 0;
  font-size: 3vw;
}

article p {
  margin: 0;
}

#Opiniones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Opiniones h3 {
  font-size: 3vw;
  margin: 20px;
}

#Opiniones article {
  position: relative;
  width: 100%;
  background-color: white;
  color: black;
}

#Opiniones article p {
  position: relative;
  width: 30%;
  margin: 1.5%;
  margin-bottom: 20px;
}

#Opiniones article .autor1{
  position: absolute;
  bottom: -15px;
  right:0;
  color:red;
}

#Opiniones article .autor2{
  position: absolute;
  bottom: -15px;
  right:400px;
  color:red;
}

#Opiniones article .autor3{
  position: absolute;
  bottom: -15px;
  left:200px;
  color:red;
}

.footer {
  background-color: rgb(5, 54, 23);
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline; 
}

.contact-info, .iconos, h4, ul {
  flex: 1 1 20%;
  margin: 20px;
}

.iconos img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

h4 {
  margin-bottom: 10px;
}

ul {

  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
  list-style: none;
  text-decoration: none;
}

p {
  margin: 0;
}

/*Sección Sobre nosotros*/

.nosotros-contenedor {
  margin: 0 auto;
  padding: 20px;
  font-size: 1vw;
  text-align: start;
  
}

/*Sección tienda*/

aside {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
}

aside h2 {
  margin-top: 0;
}

#lista-carrito {
  padding: 0;
  margin: 0;
}

#lista-carrito li {
  list-style: none;
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
  width: 100%;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
